body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}
.name{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
}
.year{
    font-size: 10.5px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: gray;
    font-family: Arial, sans-serif;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.quote{
    margin-top: 30px;
    font-style: italic;
    text-align: center;
    color: white;
    font-size: 17px;
}